{% include "header.html" %}

<a href="{{url_for('chatbox')}}" style="text-decoration: none; color: black;">

    <div class="container" style="margin-top: 5rem;">
        <section class="mx-auto my-5" style="max-width: 23rem;">
            <div class="card testimonial-card mt-2 mb-3">
                <div class="card-up aqua-gradient"></div>
                <div class="avatar mx-auto white">
                    <img src="static\assets\img\baymax.jpg" class="rounded-circle img-fluid"
                    alt="woman avatar">
                </div>
                <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">Baymax</h4>
                <hr>
                <p><i class="fas fa-quote-left"></i> Baymax here as your personal healthcare companion</p>
            </div>
        </div>
        
    </section>
</div>

</a>

{% include "footer.html" %}